.hero {
  background-image: url(../assets/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 550px;
  display: flex;
  align-items: center;
}

.hero__container {
  display: flex;
  height: 100%;
  align-items: center;
  text-align: left;
  padding-left: 50px;
}

.hero__text {
  color: #fff;
  width: 20%;
  font-size: 72px;
  font-weight: 700;
}

@media screen and (max-width: 960px) {
  .hero__text {
    text-align: center;
    width: 100%;
  }
  .hero__container {
    justify-content: center;
    padding-left: 0;
  }
}

@media screen and (max-width: 780px) {
  .hero__text {
    font-size: 28px;
    width: 100%;
  }
  .hero__container {
    padding-left: 0;
    text-align: center;
    margin: auto;
  }
}
