.nav {
  background-color: #292929;
  padding: 30px 20px;
}

.nav__logo {
  color: #fff;
}

.nav__logo a {
  border: 1px solid #fff;
  width: auto;
  padding: 4px 6px;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .nav__logo {
    text-align: center;
  }
}
